<h1>ゲームテキスト一覧</h1>

<table class = 'scaffold_table'>
  <tr>
    <th>名前</th>
    <th>テキスト</th>
    <th>フォントサイズ</th>
    <th>所属シーン</th>
    <th>Music</th>
    <th>BGM</th>
    <th>キャラクター表情指定</th>
    <th>順序</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_texts.each do |game_text| %>
  <tr>
    <td><%= game_text.talker %></td>
    <td class = 'textWidth'><%= game_text.part %></td>
    <td><%= game_text.fontSize %></td>
    <td><%= game_text.scene_id %></td>
    <td><%= game_text.music %></td>
    <td><%= game_text.background %></td>
    <td><%= game_text.characterFace %></td>
    <td><%= game_text.orderNum %></td>
    <td><%= link_to 'Show', game_text %></td>
    <td><%= link_to 'Edit', edit_game_text_path(game_text) %></td>
    <td><%= link_to 'Destroy', game_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Game text', new_game_text_path %>
