<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @scene.id %>
</p>

<p>
  <b>シーンタイトル:</b>
  <%= @scene.title %>
</p>

<p>
  <b>登場人物:</b>
  <%= @scene.person %>
</p>

<p>
  <b>タグ１:</b>
  <%= @scene.tag1 %>
</p>

<p>
  <b>タグ２:</b>
  <%= @scene.tag2 %>
</p>

<p>
  <b>視点:</b>
  <%= @scene.tag3 %>
</p>

<p>
  <b>場所:</b>
  <%= @scene.where %>
</p>

<p>
  <b>時:</b>
  <%= @scene.when %>
</p>

<p style="width:60em;">
  <b>概要:</b>
  <%= @scene.explanation %>
</p>

<p>
  <b>所属ゲーム:</b>
  <%= @scene.game_id %>
</p>
<hr>
<hr>
<b>所有テキスト</b>
<hr>
<% if @scene.game_texts %>
<% for det in @scene.game_texts %>
<p>
<h3>＊<%= det.talker %>＊</h3>
<h3 style="width:25em;"><%= det.part %></h3>
<hr>
</p>
<% end %>
<% end %>
</p>


<%= link_to 'エディット', edit_scene_path(@scene) %> |
<%= link_to 'シーン一覧に戻る', scenes_path %>
